/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */
   html{
   	max-width: 100vw;
   	overflow-x: hidden;
   }
   body{
   	font-family: 'Montserrat', sans-serif;
   }
   a{
   	text-decoration: none;
   }
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   button:focus,input:focus,select:focus {outline:0;}
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }
   svg{
   	max-width: 100%;
   }
   textarea{
     width: 100%;
     margin-top: 20px;
   }
   /*! Select2 Bootstrap 3 CSS v1.4.6 | MIT License | github.com/t0m/select2-bootstrap-css */
/**
 * Reset Bootstrap 3 .form-control styles which - if applied to the
 * original <select>-element the Select2-plugin may be run against -
 * are copied to the .select2-container.
 *
 * 1. Overwrite .select2-container's original display:inline-block
 *    with Bootstrap 3's default for .form-control, display:block;
 *    courtesy of @juristr (@see https://github.com/fk/select2-bootstrap-css/pull/1)
 */
 .select2-container.form-control {
  background: transparent;
  box-shadow: none;
  border: none;
  display: block;
  /* 1 */
  margin: 0;
  padding: 0;
}

/**
 * Adjust Select2 inputs to fit Bootstrap 3 default .form-control appearance.
 */
 .select2-container .select2-choices .select2-search-field input,
 .select2-container .select2-choice,
 .select2-container .select2-choices {
  background: none;
  padding: 0;
  border-color: #cccccc;
  border-radius: 4px;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2-search input {
  border-color: #cccccc;
  border-radius: 4px;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.select2-container .select2-choices .select2-search-field input {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/**
 * Adjust Select2 input heights to match the Bootstrap default.
 */
 .select2-container .select2-choice {
  height: 34px;
  line-height: 1.42857;
}

/**
 * Address Multi Select2's height which - depending on how many elements have been selected -
 * may grown higher than their initial size.
 */
 .select2-container.select2-container-multi.form-control {
  height: auto;
}

/**
 * Address Bootstrap 3 control sizing classes
 * @see http://getbootstrap.com/css/#forms-control-sizes
 */
 .select2-container.input-sm .select2-choice,
 .input-group-sm .select2-container .select2-choice {
  height: 30px;
  line-height: 1.5;
  border-radius: 3px;
}

.select2-container.input-lg .select2-choice,
.input-group-lg .select2-container .select2-choice {
  height: 46px;
  line-height: 1.33333;
  border-radius: 6px;
}

.select2-container-multi .select2-choices .select2-search-field input {
  height: 32px;
}

.select2-container-multi.input-sm .select2-choices .select2-search-field input,
.input-group-sm .select2-container-multi .select2-choices .select2-search-field input {
  height: 28px;
}

.select2-container-multi.input-lg .select2-choices .select2-search-field input,
.input-group-lg .select2-container-multi .select2-choices .select2-search-field input {
  height: 44px;
}

/**
 * Adjust height and line-height for .select2-search-field amd multi-select Select2 widgets.
 *
 * 1. Class repetition to address missing .select2-chosen in Select2 < 3.3.2.
 */
 .select2-container-multi .select2-choices .select2-search-field input {
  margin: 0;
}

.select2-chosen,
.select2-choice > span:first-child,
.select2-container .select2-choices .select2-search-field input {
  padding: 6px 12px;
}

.input-sm .select2-chosen,
.input-group-sm .select2-chosen,
.input-sm .select2-choice > span:first-child,
.input-group-sm .select2-choice > span:first-child,
.input-sm .select2-choices .select2-search-field input,
.input-group-sm .select2-choices .select2-search-field input {
  padding: 5px 10px;
}

.input-lg .select2-chosen,
.input-group-lg .select2-chosen,
.input-lg .select2-choice > span:first-child,
.input-group-lg .select2-choice > span:first-child,
.input-lg .select2-choices .select2-search-field input,
.input-group-lg .select2-choices .select2-search-field input {
  padding: 10px 16px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 5px;
  margin-bottom: 3px;
}

.select2-container-multi.input-sm .select2-choices .select2-search-choice,
.input-group-sm .select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 3px;
  margin-bottom: 2px;
}

.select2-container-multi.input-lg .select2-choices .select2-search-choice,
.input-group-lg .select2-container-multi .select2-choices .select2-search-choice {
  line-height: 24px;
}

/**
 * Adjust the single Select2's dropdown arrow button appearance.
 *
 * 1. For Select2 v.3.3.2.
 */
 .select2-container .select2-choice .select2-arrow,
 .select2-container .select2-choice div {
  border-left: none;
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.select2-dropdown-open .select2-choice .select2-arrow,
.select2-dropdown-open .select2-choice div {
  border-left-color: transparent;
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/**
 * Adjust the dropdown arrow button icon position for the single-select Select2 elements
 * to make it line up vertically now that we increased the height of .select2-container.
 *
 * 1. Class repetition to address missing .select2-chosen in Select2 v.3.3.2.
 */
 .select2-container .select2-choice .select2-arrow b,
 .select2-container .select2-choice div b {
  background-position: 0 3px;
}

.select2-dropdown-open .select2-choice .select2-arrow b,
.select2-dropdown-open .select2-choice div b {
  background-position: -18px 3px;
}

.select2-container.input-sm .select2-choice .select2-arrow b,
.input-group-sm .select2-container .select2-choice .select2-arrow b,
.select2-container.input-sm .select2-choice div b,
.input-group-sm .select2-container .select2-choice div b {
  background-position: 0 1px;
}

.select2-dropdown-open.input-sm .select2-choice .select2-arrow b,
.input-group-sm .select2-dropdown-open .select2-choice .select2-arrow b,
.select2-dropdown-open.input-sm .select2-choice div b,
.input-group-sm .select2-dropdown-open .select2-choice div b {
  background-position: -18px 1px;
}

.select2-container.input-lg .select2-choice .select2-arrow b,
.input-group-lg .select2-container .select2-choice .select2-arrow b,
.select2-container.input-lg .select2-choice div b,
.input-group-lg .select2-container .select2-choice div b {
  background-position: 0 9px;
}

.select2-dropdown-open.input-lg .select2-choice .select2-arrow b,
.input-group-lg .select2-dropdown-open .select2-choice .select2-arrow b,
.select2-dropdown-open.input-lg .select2-choice div b,
.input-group-lg .select2-dropdown-open .select2-choice div b {
  background-position: -18px 9px;
}

/**
 * Address Bootstrap's validation states and change Select2's border colors and focus states.
 * Apply .has-warning, .has-danger or .has-succes to #select2-drop to match Bootstraps' colors.
 */
 .has-warning .select2-choice,
 .has-warning .select2-choices {
  border-color: #8a6d3b;
}
.has-warning .select2-container-active .select2-choice,
.has-warning .select2-container-multi.select2-container-active .select2-choices {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning.select2-drop-active {
  border-color: #66512c;
}
.has-warning.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #66512c;
}

.has-error .select2-choice,
.has-error .select2-choices {
  border-color: #a94442;
}
.has-error .select2-container-active .select2-choice,
.has-error .select2-container-multi.select2-container-active .select2-choices {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error.select2-drop-active {
  border-color: #843534;
}
.has-error.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #843534;
}

.has-success .select2-choice,
.has-success .select2-choices {
  border-color: #3c763d;
}
.has-success .select2-container-active .select2-choice,
.has-success .select2-container-multi.select2-container-active .select2-choices {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success.select2-drop-active {
  border-color: #2b542c;
}
.has-success.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #2b542c;
}

/**
 * Make Select2's active-styles - applied to .select2-container when the widget receives focus -
 * fit Bootstrap 3's .form-element:focus appearance.
 */
 .select2-container-active .select2-choice,
 .select2-container-multi.select2-container-active .select2-choices {
  border-color: #66afe9;
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.select2-drop-active {
  border-color: #66afe9;
}

.select2-drop-auto-width,
.select2-drop.select2-drop-above.select2-drop-active {
  border-top-color: #66afe9;
}

/**
 * Select2 widgets in Bootstrap Input Groups
 *
 * When Select2 widgets are combined with other elements using Bootstrap 3's
 * "Input Group" component, we don't want specific edges of the Select2 container
 * to have a border-radius.
 *
 * In Bootstrap 2, input groups required a markup where these style adjustments
 * could be bound to a CSS-class identifying if the additional elements are appended,
 * prepended or both.
 *
 * Bootstrap 3 doesn't rely on these classes anymore, so we have to use our own.
 * Use .select2-bootstrap-prepend and .select2-bootstrap-append on a Bootstrap 3 .input-group
 * to let the contained Select2 widget know which edges should not be rounded as they are
 * directly followed by another element.
 *
 * @see http://getbootstrap.com/components/#input-groups
 */
 .input-group.select2-bootstrap-prepend [class^="select2-choice"] {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.input-group.select2-bootstrap-append [class^="select2-choice"] {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.select2-dropdown-open [class^="select2-choice"] {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  background: white;
  filter: none;
}
.input-group.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.input-group.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.input-group.input-group-sm.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-right-radius: 3px !important;
}
.input-group.input-group-lg.select2-bootstrap-prepend .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-right-radius: 6px !important;
}
.input-group.input-group-sm.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-left-radius: 3px !important;
}
.input-group.input-group-lg.select2-bootstrap-append .select2-dropdown-open.select2-drop-above [class^="select2-choice"] {
  border-bottom-left-radius: 6px !important;
}

/**
 * Adjust Select2's choices hover and selected styles to match Bootstrap 3's default dropdown styles.
 */
 .select2-results .select2-highlighted {
  color: white;
  background-color: #337ab7;
}

/**
 * Adjust alignment of Bootstrap 3 buttons in Bootstrap 3 Input Groups to address
 * Multi Select2's height which - depending on how many elements have been selected -
 * may grown higher than their initial size.
 */
 .select2-bootstrap-append .select2-container-multiple,
 .select2-bootstrap-append .input-group-btn,
 .select2-bootstrap-append .input-group-btn .btn,
 .select2-bootstrap-prepend .select2-container-multiple,
 .select2-bootstrap-prepend .input-group-btn,
 .select2-bootstrap-prepend .input-group-btn .btn {
  vertical-align: top;
}

/**
 * Make Multi Select2's choices match Bootstrap 3's default button styles.
 */
 .select2-container-multi .select2-choices .select2-search-choice {
  color: #555555;
  background: white;
  border-color: #cccccc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #ebebeb;
  border-color: #adadad;
  color: #333333;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/**
 * Address Multi Select2's choice close-button vertical alignment.
 */
 .select2-search-choice-close {
  margin-top: -7px;
  top: 50%;
}

/**
 * Adjust the single Select2's clear button position (used to reset the select box
 * back to the placeholder value and visible once a selection is made
 * activated by Select2's "allowClear" option).
 */
 .select2-container .select2-choice abbr {
  top: 50%;
}

/**
 * Adjust "no results" and "selection limit" messages to make use
 * of Bootstrap 3's default "Alert" style.
 *
 * @see http://getbootstrap.com/components/#alerts-default
 */
 .select2-results .select2-no-results,
 .select2-results .select2-searching,
 .select2-results .select2-selection-limit {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

/**
 * Address disabled Select2 styles.
 *
 * 1. For Select2 v.3.3.2.
 * 2. Revert border-left:0 inherited from Select2's CSS to prevent the arrow
 *    from jumping when switching from disabled to enabled state and vice versa.
 */
 .select2-container.select2-container-disabled .select2-choice,
 .select2-container.select2-container-disabled .select2-choices {
  cursor: not-allowed;
  background-color: #eeeeee;
  border-color: #cccccc;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow,
.select2-container.select2-container-disabled .select2-choice div,
.select2-container.select2-container-disabled .select2-choices .select2-arrow,
.select2-container.select2-container-disabled .select2-choices div {
  background-color: transparent;
  border-left: 1px solid transparent;
  /* 2 */
}

/**
 * Address Select2's loading indicator position - which should not stick
 * to the right edge of Select2's search input.
 *
 * 1. in .select2-search input
 * 2. in Multi Select2's .select2-search-field input
 * 3. in the status-message of infinite-scroll with remote data (@see http://ivaynberg.github.io/select2/#infinite)
 *
 * These styles alter Select2's default background-position of 100%
 * and supply the new background-position syntax to browsers which support it:
 *
 * 1. Android, Safari < 6/Mobile, IE<9: change to a relative background-position of 99%
 * 2. Chrome 25+, Firefox 13+, IE 9+, Opera 10.5+: use the new CSS3-background-position syntax
 *
 * @see http://www.w3.org/TR/css3-background/#background-position
 *
 * @todo Since both Select2 and Bootstrap 3 only support IE8 and above,
 * we could use the :after-pseudo-element to display the loading indicator.
 * Alternatively, we could supply an altered loading indicator image which already
 * contains an offset to the right.
 */
 .select2-search input.select2-active,
 .select2-container-multi .select2-choices .select2-search-field input.select2-active,
 .select2-more-results.select2-active {
  background-position: 99%;
  /* 4 */
  background-position: right 4px center;
  /* 5 */
}

/**
 * To support Select2 pre v3.4.2 in combination with Bootstrap v3.2.0,
 * ensure that .select2-offscreen width, height and position can not be overwritten.
 *
 * This adresses changes in Bootstrap somewhere after the initial v3.0.0 which -
 * in combination with Select2's pre-v3.4.2 CSS missing the "!important" after
 * the following rules - allow Bootstrap to overwrite the latter, which results in
 * the original <select> element Select2 is replacing not be properly being hidden
 * when used in a "Bootstrap Input Group with Addon".
 **/
 .select2-offscreen,
 .select2-offscreen:focus {
  width: 1px !important;
  height: 1px !important;
  position: absolute !important;
}
.outer
{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.inner
{
  margin: 10px;
}
.sui-combobox
{
  font-family: Arial, sans-serif;
  font-size: 14px;
}
/*------- PAGE LOGIN ------- */

.page-login{
  background-color: #f3f3f3;
  background-image: url('../img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 0;
  width: 100vw;
}
.page-esqueci{
  background-color: #f3f3f3;
  background-image: url('../img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 0;
  width: 100vw;
  height: 100vh;
}
.container-login{
  padding: 40px 115px;
  background-color: #fff;
  width: 430px;
  max-width: 100%;
  margin: 0 auto;
}
.container-login .logo{
  display: flex;
  justify-content: center;
  width: 100%;
}
.container-login .logo .img{
  max-width: 150px;
}
.container-login .form-login{
  margin: 10px 0;
}
.input{
  width: 100%;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  padding: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #959595;
  font-size: 16px;
  margin: 15px 0;
}
.input-login{
  background-color: #7aad37;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 19.2px;
  border: none;
  width: 100%;
  padding: 18px 0;
  margin-top: 15px;
  margin-bottom: 20px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Montserrat', sans-serif;
  color: #959595;
  font-size: 16px;
}
.esqueceuasenha{
  width: 100%;
  text-align: right;
  color: #505050;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 16px;
}
.cadastrese{
  color: #505050;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 16px;
}
.text-green{
  color: #78ad37;
}
.cadastrese{
  margin-top: 80px;
  text-align: center;
  width: 100%;
}
.cadastrese .text-green a{
  color: #78ad37;
}
.change{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.change .cr{
  color: #cacaca;
  color: #505050;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  font-weight: bold;
}
.change .imaluno, .change .improfessor{
  flex-basis: 48%;
}
.imaluno.new, .improfessor.new{
  flex-basis: 33% !important
}
.change .btn.active{
  opacity: 1;
  transition: 0.3s;
}
.change .btn{
  transition: 0.3s;
  width: 100%;
  background-color: #fff;
  color: #78ad37;
  border: 2px solid #78ad37;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  opacity: 0.3;
}
.insira{
  margin-top: 20px;
  color: #505050;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 16px;
}
#cadastroprofessor{
  display: none;
}
.embreve{
  display: none;
  text-align: center;
  color: #78ad37;
  margin: 30px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.menu{
  position: absolute;
  float: left;
  width: 19%;
  height: 100%;
  border-right: 1px solid #ededed;
  background-color: #fff;
  z-index: 9;
  transition: 0.5s;
  overflow-x: hidden;
}
.menu.hidden{
  width: 60px;
  transition: 0.5s;
  overflow-x: hidden;
}
.iconmenu{
  display: flex;
  justify-content: flex-end;
  padding:20px;
}
.menu .logo{
  padding: 0 40px;
}
.menuitens{
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: block;
}
.menuitens .item{
  padding-left: 60px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.menuitens a{
  color: #505050;
}

.menuitens-hidden{
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: none;
}
.menuitens-hidden .item{
  padding-left: 60px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.menuitens-hidden a{
  color: #505050;
}

.item.home.active{
  color: #fff;
  background-color: #78ad37;
}
.item.arquivos.active{
  color: #fff;
  background-color: #78ad37;
}
.item.marketing.active{
  color: #fff;
  background-color: #78ad37;
}
.item.usuarios.active{
  color: #fff;
  background-color: #78ad37;
}
.item.relatorios.active{
  color: #fff;
  background-color: #78ad37;
}
.item.materiais.active{
  color: #fff;
  background-color: #78ad37;
}
.item.home.active::before{
  background-image: url(../../public/img/home-icon-w.png);
}
.item.home::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px;
  margin-top: -7px;
  background-image: url(../../public/img/home-icon.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.item.arquivos.active::before{
  background-image: url(../../public/img/arquivos-w.png);
}
.item.arquivos::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px;
  margin-top: -7px;
  background-image: url(../../public/img/arquivos.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.item.marketing.active::before{
  background-image: url(../../public/img/marketing-w.png);
}
.item.marketing::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px;
  margin-top: -7px;
  background-image: url(../../public/img/marketing.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.item.usuarios.active::before{
  background-image: url(../../public/img/usuarios-w.png);
}
.item.usuarios::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px;
  margin-top: -7px;
  background-image: url(../../public/img/usuarios.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.item.relatorios.active::before{
  background-image: url(../../public/img/relatorios-w.png);
}
.item.relatorios::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px;
  margin-top: -7px;
  background-image: url(../../public/img/relatorios.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.item.materiais.active::before{
  background-image: url(../../public/img/materiais-w.png);
}
.item.materiais::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px;
  margin-top: -7px;
  background-image: url(../../public/img/materiais.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
#nav-icon3{
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon3 span{
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #959595;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 21px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.navheader.full{
  width: 95.9%;
  left: 5%;
  transition: 0.3s;  
}
.navheader{
 transition: 0.3s;
 height: 60px;
 position: absolute;
 width: 80.9%;
 top: 0;
 left: 19%;
 background-color: #fff;
}
.navheader .user{
  float: right;
  background-color: #78ad37;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.navheader .user .avatar img{
  border-radius: 50%;
}
.navheader .user .name {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 0 10px;
}
.search{
  float: left;
  width: 75%;
}
.searchform{
  width: 100%;
  position: relative;
}
.searchform:before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../../public/img/search-icon.png);
  top: 10px;
  left: 14px;
}
.searchform input{
  height: 100%;
  width: 100%;
  border: none;
  padding-left: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #505050;
}
.page-home, .page-arquivos, .page-marketing, .page-usuarios, .page-addvideo{
  float: left;
  background-color: #f3f3f3;
  width: 74.9%;
  margin-left: 19%;
  padding: 40px;
  margin-top: 60px;
  transition: 0.3s;
}
.page-home.full, .page-marketing.full, .page-addvideo.full, .page-usuarios.full, .page-arquivos.full{
 margin-left: 60px;
 width: 90%;
 transition: 0.3s;
}
.page-home h2{
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 font-size: 15px;
 color: #505050;
}
.painel{
 padding: 30px 70px;
 background-color: #fff;
 margin: 25px 0;
}
.painel-usuario{
 padding: 30px 30px;
 background-color: #fff;
 margin: 25px 0;
}
.painel-videos{
 padding: 30px 30px;
 background-color: #fff;
 margin: 25px 0;
}
.painel-geral{
 padding: 30px 30px;
 background-color: #fff;
 margin: 25px 0;
 display: none;
}
.painel-geral .stats{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 40vh;
 width: 100%;
}
.graphic{
 text-align: center;
 font-family: 'Montserrat', sans-serif;
}
.graphic h3{
 color: #78ad37;
 margin-bottom: 20px;
 font-size: 36px;
}
.graphic p{
 margin: 5px 0;
 font-weight: bold;
}
.painelgray{
  padding: 30px 50px;
  background-color: #f3f3f3;
  margin: 25px 0;
}
.painel-materiais{
 padding: 30px 70px;
 margin-top: 40px;
 background-color: #fff;
}
.subpainel{
 padding: 20px 40px;
 background-color: #fff;
}
.subpainel .title{
 color: #7aad37;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 font-size: 18px;
 margin-bottom: 20px;
}
.subpainel .item{
 margin: 30px 0;
 cursor: pointer;
 color: #979797;
 font-size: 16px;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
}
.subpainel .item .subitem{
 display: none;
}
.subpainel .item.active .subitem{
 display: block;
 color: #7aad37;
 font-size: 16px;
 margin: 10px 0;
}
.subpainel .item.active{

 color: #505050;
}
.title{
 color: #7aad37;
 font-size: 20px;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 position: relative;
}
.sake:after{
 content: "";
 position: absolute;
 width: 55px;
 height: 32px;
 background-image: url(../../public/img/sake.svg);
 background-position: center;
 background-size: 100%;
 background-repeat: no-repeat;
 top: 11px;
 left: 0;
}
.painel .title:after{
 content: "";
 position: absolute;
 width: 32px;
 height: 32px;
 background-image: url(../../public/img/info.png);
 background-position: center;
 background-size: 100%;
 background-repeat: no-repeat;
 top: -6px;
 left: -48px;
}
.painel .avisotitle{
 color:#505050;
 font-size: 18px;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 margin: 15px 0;
 position: relative;
 display: flex;
 align-items: center;
}

.painel .date:after{
 content: "";
 position: absolute;
 width: 21px;
 height: 21px;
 background-image: url(../../public/img/date.png);
 background-position: center;
 background-size: 100%;
 background-repeat: no-repeat;
 top: -6px;
 left: -25px;
}
.painel .date{
 color: #989898;
 font-size: 13px;
 position: relative;
 margin-left: 45px;
}
.painel .conteudo{
 color:#505050;
 font-size: 14px;
 line-height: 25px;
 font-family: 'Montserrat', sans-serif;
}
.filtros{
 margin: 20px 0;
}
.inputvideo{
 padding: 15px !important;
 width: 100% !important;
 flex-basis: 100% !important;
 border: 1px solid #c7c7c7 !important; 
 font-family: 'Montserrat', sans-serif !important;
 position: relative !important;
 color: #959595 !important;
 font-size: 18px !important;
}
.marg-y{
 margin-top: 15px;
}
.textvideo{
 position: relative;
}
.textvideo::after{
 content: "";
 position: absolute;
 width: 40px;
 height: 40px;
 background-image: url(../../public/img/search-icon.png);
 top: 4px;
 right: 14px;
}
.filtros .row-flex{
 align-items: flex-end;
}
.filterlabel{
 color: #505050;
 font-size: 18px;
 font-weight: bold;
 font-family: 'Montserrat', sans-serif;
 display: block
}
.formaddusuario{
 margin-top: 30px;
}
.itemi{
 flex-basis: 48%;
}
.itemi-nome{
 flex-basis: 48%;
}
.itemi-nome-full{
 flex-basis: 100%;
}
.itemi-estado{
 flex-basis: 20%;
}
.itemi-cidade{
 flex-basis: 25%;
}
.itemi-telefone{
 flex-basis: 23%;
}
.itemi-codigo{
 flex-basis: 23%;
}
.arquivo {
  display: none;
}
.file {
  line-height: 30px;
  height: 60px;
  border: 1px solid #A7A7A7;
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px;
  vertical-align: middle;
  width: 300px;
}
.btn {
  border: none;
  box-sizing: border-box;
  padding: 2px 10px;
  background-color: #4493c7;
  color: #FFF;
  height: 60px;
  font-size: 15px;
  vertical-align: middle;
}
.segmentos{
 display: flex;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 color: #959595;
 font-size: 18px;
 margin-bottom: 10px;

 position: relative;

}
.segmentos .item.active{
 background-color: #7aad37;
 color: #fff;
}
.segmentos .item{
 order: 1;
 background-color: #fff;
 padding: 23px 0;
 position: relative;
 flex-grow: 1;
 text-align: center;
}
.itensvideo{
 text-align: center;
 margin-top: 10px;
}
.itensvideo .item{
 background-color: #fff;
 padding: 30px 10px;
 margin: 10px;
 margin-top: 0px;
 margin-bottom: 10px;
}
.itensvideo .item .tipo{
 color: #989898;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 text-transform: uppercase;
 font-size: 15px;
}
.itensvideo .item .escolaridade{
 font-size: 18px;
 color: #7aad37;
 font-weight: bold;
 font-family: 'Montserrat', sans-serif;
 margin: 15px 0;
}
.itensvideo .item .data{
 color: #989898;
 text-transform: uppercase;
 font-size: 13px;
 font-family: 'Montserrat', sans-serif;
}
.marg{
 margin: 0 20px;
}
.itensvideo .imagem{
 background-size: 100%;
 background-position: center;
 background-repeat: no-repeat;
 width: 93%;
 height: 150px;
 margin: 0 auto;
}
.painel .content{
 padding-left: 120px;
 font-family: 'Montserrat', sans-serif;
 color: #5d5d5d;
 line-height: 23px;
 font-size: 18px;
 position: relative;
}
.bold{
 font-weight: bold;
}
.painel .content:after{
 content: "";
 position: absolute;
 background-size: 100%;
 background-repeat: no-repeat;
 background-position: center;
 background-image: url(../img/marketing-intro.png);
 width: 60px;
 height: 48px;
 left: 0;
 top: 0;
}
.novacategoria{
 background-color: #7aad37;
 text-align: center;
 padding: 16px 0;
 width: 100%;
 font-family: 'Montserrat', sans-serif;
 color: #fff;
 font-weight: bold;
 font-size: 18px;
 position: relative;

}
.novacategoria:before{
 content: "";
 position: absolute;
 background-size: 100%;
 background-repeat: no-repeat;
 background-position: center;
 background-image: url(../img/plus.png);
 width: 23px;
 height: 23px;
 left: 31px;
 top: 12.5px;
}
.itemsmarketing .item .img{
 background-size: 100%;
 background-position: center;
 background-repeat: no-repeat;
 width: 100%;
 height: 150px;
}
.itemsmarketing .item{
 background-color: #fff;
 text-align: center;
 color: #7aad37;
 margin: 10px 0;

}
.itemsmarketing .item .title{
 padding: 10px;
 font-size: 14px;
 font-weight: bold;
}
.addusuario{
 margin-top: 40px;
 display: flex;
 align-items: center;
 padding: 15px;
 background-color: #7aad37;
 color: #fff;
 font-size: 18px;
 float: left;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
}
.addusuario i{
 font-size: 30px;
 margin-right: 10px;
}
.painel-usuarios{
 background-color: #fff;
 padding: 30px 40px;
}
.painel-usuarios .item{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 30px 0;
}
.painel-usuarios .item .nome{
 color: #7aad37;
 font-size: 18px;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
}
.painel-usuarios .item .desc{
 color: #333;
 font-size: 15px;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 margin: 5px 0;
}
.painel-usuarios .item .email{
 color: #3c3c3c;
 font-size: 13px;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 text-decoration: underline
}
.vejamais{
 display: flex;
 justify-content: center;
 width: 100%;
 margin-top: 50px;
}
.vejamais .bt{
 padding: 20px 30px;
 background-color: #7aad37;
 color: #fff;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
}
.relatorios .subitens{
 display: none;
}
.relatorios:hover .subitens{
 display: block;
}
.ate{
 font-family: 'Montserrat', sans-serif;
 color: #ccc;
 text-align: center;
 font-weight: bold;
 margin-bottom: 20px;
}
.acessos{
 position: absolute;
 background-color: #7aad37;
 color: #fff;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 padding: 5px;
 margin-top: 10px;
}
.status .item{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.status .item.active{
 color: #7aad37;
}
.status .item.active .icon{

 background-color: #7aad37;

}
.status .item .icon{
 width: 50px;
 height: 50px;
 background-color: #929292;
 border-radius: 50%;
 color: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 font-size: 18px;

}
.preencha{
 font-family: 'Montserrat', sans-serif;
 margin: 50px 0;
 font-size: 18px;
 text-align: center;
}
.form1 .tit{
 color: #7aad37;
 font-size: 16px;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;

}
.status .item.active .text{
 color: #7aad37;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 font-size: 18px;
}
.status .item .text{
 color: #929292;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 font-size: 18px;
 margin: 10px 0;
}
.minmarg{
 margin-right: 20px;
}
.formaddvideo{
 margin: 50px 0;
}
.formaddvideo .inputed{
 margin: 0 20px;
}
.bg-gray{
 background-color: #ccc;
 color: #000;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #3c3c3c;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .2em; left: .275em;
  font-size: 1.4em;
  line-height: 0.8;
  color: #7aad37;
  transition: all .2s;
  font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {

  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #7aad37;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #7aad37!important;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
td i{
 font-size: 30px;
}

tr:nth-child(even){background-color: #f2f2f2}
#formaluno{
  display: none;
}
#formprofessor{
  display: none;
}
#formaluno.view{
  display: flex;
}
#formprofessor.view{
  display: flex;
}
#formgestor{
  display: none;
}
#formgestor.view{
  display: flex;
}
#formdiretor{
  display: none;
}
#formdiretor.view{
  display: flex;
}
#formadm{
  display: none;
}
#formadm.view{
  display: flex;
}
.modal{
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.77);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.modal .painel{
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.modal .painel .close{
  position: absolute;
  right: 20px;
  top: 20px;
}
.modal .painel h3{
  font-size: 22px;
  color:#7aad37;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

  margin-top: 30px;
}
.modal .painel h2{
  font-size: 30px;
  color:#7aad37;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 0;
}
.modal .painel p{
  color: #5d5d5d;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin: 10px 0;
}
.atencio{
  margin-top: 30px;
}
.painel-videos{
  display: flex;
  flex-wrap: wrap;
}
.painel-videos .video{
  flex-basis: 23%;
  text-align: center;
}
.painel-videos .video .vd{
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.painel-videos .video .escolaridade{
 font-family: 'Montserrat', sans-serif;
 color: #5d5d5d;
 font-weight: bold;
 font-size: 15px;
 text-transform: uppercase;
 margin: 10px 0;
}
.painel-videos .video .data{
 font-family: 'Montserrat', sans-serif;
 color:#7aad37;
 font-weight: bold;
 font-size: 15px;
 text-transform: uppercase
}
.painel-videos .video .vd .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.painel-videos .video .vd .status, .number{
 font-family: 'Montserrat', sans-serif;
 color:#fff;
 font-weight: bold;
 margin: 5px 0;
}
.painel-videos .video .vd .bar{
 height: 20px;
 position: relative;
 width: 95%;
 background-color: #fff;
 display: flex;
}
.painel-videos .video .vd .stat{
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  background-color: red;
}